.paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgba(8, 8, 8, 0.767);
    font-size:  35px;
 }
 .fonts{
    color: rgba(5, 5, 5, 0.452);
    font-weight: 600;
 }