.imagesz {
    height:60px;
 width:240px;
  }

  .nav {
    height: 70px;
    
  }
  
  .vdash {
    text-align: center;
    text-shadow: darkblue;
    text-decoration-color: darkblue;
    color:whitesmoke;
    
    
 }

 .vlistbutton{
  
 }